.wrapper {
    display: flex;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .news-card {
    width: 400px;
    height: 400px;
    background-color: #c5c5c5;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: left;
  }
  
  .news-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    
  }
  
  .news-content {
    padding: 15px;
  }
  
  .news-title {
    font-size: 1.1rem;
    color: #333;
    margin-bottom: 10px;
    line-height: 1.4;
  }
  
  .news-footer {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    color: #888;
  }
  
  .news-time {
    margin-right: 8px;
  }
  
  .news-icon {
    color: #ff0000;
  }
  